@font-face {
  font-family: "Lato";
  src: url("../resources/fonts/Lato-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("../resources/fonts/Lato-Heavy.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("../resources/fonts/Lato-HeavyItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Roboto Slab";
  src: url("../resources/fonts/Roboto-SlabBold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: "Lato", sans-serif;
}

.lable-search {
  position: relative;
}

.lable-search::before {
  content: "";
  background-image: url("../resources/images/search.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 25px;
  top: 50%;
  transform: translateY(-70%);
}

.navblock {
  background-color: #262d33;
  padding-top: 18px;
  padding-bottom: 18px;
}

.border-success {
  border-top: 5px solid green;
}

.border-brown {
  border-top: 5px solid brown;
}

.border-primary {
  border-top: 5px solid blue;
}

.border-olive {
  border-top: 5px solid olive;
}

.border-purple {
  border-top: 5px solid purple;
}

.border-gold {
  border-top: 5px solid gold;
}

.articles {
  background-color:#30363D;
  padding:30px 25px 35px 25px;
  border:none;
  border-radius:10px;
}

.article-item {
  position:relative;
}

.article-item::after {
  content: '';
  border: 1px solid #4B5157;
  height: 100%;
  position: absolute;
  right: 20px; 
}

#herorow .article-item:last-child::after {
  content: none; 
}

.desc-rec {
  color:#4B5157;
  font-size:14px;
}

.title-rec {
  padding: 17px 25px 19px 25px;
  font-size:14px;
  letter-spacing:0.5px;
}

.landscapeImage {
  background-image: url("../resources/images/landscape.png");
  width:877px;
  min-height: 570px;
  background-size: cover;
}

.readmorebtn {
  padding: 12px 30px;
  border-radius: 20px;
  margin-right: 30px;
  background-color:#4592FF;
  color:white;
  border:unset;
}

.playbtn{
  background-color: unset;
  border: none;
  padding: 0;
}

.playdesc {
  font-size: 40px;
  max-width: 598px;
  margin-top: 25px;
  margin-bottom: 45px;
}



.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Четыре равные колонки */
  grid-template-rows: repeat(3, auto); /* Три ряда */
  gap: 30px; /* Отступ между элементами */
}

.grid-item {
  border: 1px solid; /* Рамка для каждого блока */
  border-radius:10px;
}


.grid-item-1 {
  grid-column: 1 / span 2; 
  grid-row: 1; 
  padding-top:30px;
  background-color:#ffffff;
}

.grid-item-2 {
  grid-column: 3; /* Занимает третью колонку */
  grid-row: 1; /* Занимает первый ряд */
}

.grid-item-3 {
  grid-column: 4; /* Занимает четвертую колонку */
  grid-row: 1 / span 3; /* Занимает первый, второй и третий ряд */
}

.grid-item-4 {
  grid-column: 1; /* Занимает первую колонку */
  grid-row: 2 / span 2; /* Занимает второй и третий ряд */
  background-color:#ffffff;
}

.grid-item-5 {
  grid-column: 2; /* Занимает вторую колонку */
  grid-row: 2; /* Занимает второй ряд */
}

.grid-item-6 {
  grid-column: 3; /* Занимает третью колонку */
  grid-row: 2; /* Занимает второй ряд */
}

.grid-item-7 {
  grid-column: 2; /* Занимает вторую колонку */
  grid-row: 3; /* Занимает третий ряд */
}

.grid-item-8 {
  grid-column: 3; /* Занимает третью колонку */
  grid-row: 3; /* Занимает третий ряд */
}
