<footer class="container bg-light py-5">
    <div class="container text-center">
        <h2 class="text-dark" style="font-family: 'Roboto Slab'; font-size: 40px;">
            Subscribe now and get 20% off
        </h2>
        <form class="mt-4">
            <input type="text" class="form-control d-inline" placeholder="Enter your email" style="max-width: 313px;" />
            <button class="btn rounded-pill btn-primary ms-2" style="padding: 10px 30px;">
                Subscribe
            </button>
        </form>
    </div>
    
    <div class="d-flex mt-5">
        <div class="col-2 d-flex flex-column border-top border-danger pt-4 text-start" style="min-width:195px;">
            <strong class="mb-4">News</strong>
            <a href="#" class="text-black text-decoration-none mb-3">Nation</a>
            <a href="#" class="text-black text-decoration-none mb-3">World</a>
            <a href="#" class="text-black text-decoration-none mb-3">Politics</a>
            <a href="#" class="text-black text-decoration-none mb-3">Solar Eclipse</a>
        </div>
        
        <div class="col-2 d-flex flex-column border-top border-success pt-4 text-start" style="min-width:195px;">
            <strong class="mb-4">Arts</strong>
            <a href="#" class="text-black text-decoration-none mb-3">Art & Design</a>
            <a href="#" class="text-black text-decoration-none mb-3">Movies</a>
            <a href="#" class="text-black text-decoration-none mb-3">People</a>
            <a href="#" class="text-black text-decoration-none mb-3">Video: Arts</a>
            <a href="#" class="text-black text-decoration-none mb-3">Theater</a>
        </div>
        
        <div class="col-2 d-flex flex-column border-top border-info pt-4 text-start" style="min-width:195px;">
            <strong class="mb-4">Travel</strong>
            <a href="#" class="text-black text-decoration-none mb-3">Destinations</a>
            <a href="#" class="text-black text-decoration-none mb-3">Flights</a>
            <a href="#" class="text-black text-decoration-none mb-3">Business Travel</a>
        </div>
        
        <div class="col-2 d-flex flex-column border-top border-warning pt-4 text-start" style="min-width:195px;">
            <strong class="mb-4">Sports</strong>
            <a href="#" class="text-black text-decoration-none mb-3">Olympics</a>
            <a href="#" class="text-black text-decoration-none mb-3">Motor Sports</a>
            <a href="#" class="text-black text-decoration-none mb-3">Volleyball</a>
            <a href="#" class="text-black text-decoration-none mb-3">MMA</a>
            <a href="#" class="text-black text-decoration-none mb-3">Cycling</a>
        </div>
        
        <div class="col-2 d-flex flex-column border-top border-secondary pt-4 text-start" style="min-width:195px;">
            <strong class="mb-4">Tech</strong>
            <a href="#" class="text-black text-decoration-none mb-3">Tech</a>
            <a href="#" class="text-black text-decoration-none mb-3">Tech Columnists</a>
            <a href="#" class="text-black text-decoration-none mb-3">Tech Reviews</a>
            <a href="#" class="text-black text-decoration-none mb-3">Talking Tech</a>
        </div>
        
        <div class="col-2 d-flex flex-column border-top border-danger pt-4 text-start" style="min-width:195px;">
            <strong class="mb-4">Moneys</strong>
            <a href="#" class="text-black text-decoration-none mb-3">Markets</a>
            <a href="#" class="text-black text-decoration-none mb-3">Business</a>
            <a href="#" class="text-black text-decoration-none mb-3">Personal Finance</a>
            <a href="#" class="text-black text-decoration-none mb-3">Retirement</a>
            <a href="#" class="text-black text-decoration-none mb-3">Careers</a>
        </div>
    </div>
</footer>
