<footer class="container bg-light py-5">
    <div class="container text-center">
        <h2 class="text-dark" style="font-family: 'Roboto Slab'; font-size: 40px;">
            Subscribe now and get 20% off
        </h2>
        <form class="mt-4">
            <input type="text" class="form-control d-inline" placeholder="Enter your email" style="max-width: 313px;" />
            <button class="btn rounded-pill btn-primary ms-2" style="padding: 10px 30px;">
                Subscribe
            </button>
        </form>
    </div>
    
    <div class="d-flex mt-5">
      
            <div class="col-2 d-flex flex-column" style="min-width:195px; border-top: 1px solid red; padding-top: 30px; text-align: left;">
                <strong style="display:block;margin-bottom:25px">News</strong>
                <a href="#" class="text-black text-decoration-none" style="margin-bottom:15px">Nation</a>
                <a href="#" class="text-black text-decoration-none" style="margin-bottom:15px">World</a>
                <a href="#" class="text-black text-decoration-none" style="margin-bottom:15px">Politics</a>
                <a href="#" class="text-black text-decoration-none" style="margin-bottom:15px">Solar Eclipse</a>
                
            </div>
            <div class="col-2 d-flex flex-column" style="min-width:195px; border-top: 1px solid green; padding-top: 30px; text-align: left;">
                <strong style="display:block;margin-bottom:25px">Arts</strong>
                <a href="#" class="text-black text-decoration-none" style="margin-bottom:15px">Art & Design</a>
                <a href="#" class="text-black text-decoration-none" style="margin-bottom:15px">Movies</a>
                <a href="#" class="text-black text-decoration-none" style="margin-bottom:15px">People</a>
                <a href="#" class="text-black text-decoration-none" style="margin-bottom:15px">Video: Arts</a>
                <a href="#" class="text-black text-decoration-none" style="margin-bottom:15px">Theater</a>
            </div>
            <div class="col-2 d-flex flex-column" style="min-width:195px; border-top: 1px solid blue; padding-top: 30px; text-align: left;">
                <strong style="display:block;margin-bottom:25px">Travel</strong>
                <a href="'#" class="text-black text-decoration-none" style="margin-bottom:15px">Destinations</a>
                <a href="'#" class="text-black text-decoration-none" style="margin-bottom:15px">Flights</a>
                <a href="'#" class="text-black text-decoration-none" style="margin-bottom:15px">Business Travel</a>
            </div>
            <div class="col-2 d-flex flex-column" style="min-width:195px; border-top: 1px solid chocolate; padding-top: 30px; text-align: left;">
                <strong style="display:block;margin-bottom:25px">Sports</strong>
                <a href="'#" class="text-black text-decoration-none" style="margin-bottom:15px">Olympics</a>
                <a href="'#" class="text-black text-decoration-none" style="margin-bottom:15px">Motor Sports</a>
                <a href="'#" class="text-black text-decoration-none" style="margin-bottom:15px">Volleyball</a>
                <a href="'#" class="text-black text-decoration-none" style="margin-bottom:15px">MMA</a>
                <a href="'#" class="text-black text-decoration-none" style="margin-bottom:15px">Cycling</a>
            </div>
            <div class="col-2 d-flex flex-column" style="min-width:195px; border-top: 1px solid olive; padding-top: 30px; text-align: left;">
                <strong style="display:block;margin-bottom:25px">Tech</strong>
                <a href="'#" class="text-black text-decoration-none" style="margin-bottom:15px">Tech</a>
                <a href="'#" class="text-black text-decoration-none" style="margin-bottom:15px">Tech Columnists</a>
                <a href="'#" class="text-black text-decoration-none" style="margin-bottom:15px">Tech Reviews</a>
                <a href="'#" class="text-black text-decoration-none" style="margin-bottom:15px">Talking Tech</a>
            </div>
             <div class="col-2 d-flex flex-column" style="min-width:195px; border-top: 1px solid tomato; padding-top: 30px; text-align: left;">
                <strong style="margin-bottom:25px">Moneys</strong>
                <a href="#" class="text-black text-decoration-none" style="margin-bottom:15px">Markets</a>
                <a href="#" class="text-black text-decoration-none" style="margin-bottom:15px">Business</a>
                <a href="#" class="text-black text-decoration-none" style="margin-bottom:15px">Personal Finance</a>
                <a href="#" class="text-black text-decoration-none" style="margin-bottom:15px">Retirement</a>
                <a href="#" class="text-black text-decoration-none" style="margin-bottom:15px">Careers</a>
            </div>
      
    </div>
</footer>
