<header class="container d-flex flex-column">

    <div class="d-flex align-items-center border-bottom">
        <div class="menu-icon d-flex justify-content-between align-items-center border-bottom border-right pt-2 pe-4 pb-3 ps-0">
            <span>Sections</span>
        </div>

        <label class="form-control d-inline-flex border-0 ps-0 pe-0 pt-0 pb-0 lable-search" style="max-width:820px">
            <input class="form-control border-top-0 border-end-0 ps-5 pe-4 pt-2 pb-3 rounded-0" type="text" placeholder="Search">
        </label>

        <img alt="" id="dynamicImg" class="align-self-end" width="66" height='44'>

        <div class="text-left mx-3">
            <span>Subscribe Now</span><br>
            <span>3 months for $19</span>
        </div>

        <div class="authorization d-inline-flex align-items-center p-2 gap-2" style="margin-left:45px; cursor:pointer">
            <span>Sign In</span>
        </div>
    </div>

   <div class="d-flex justify-content-between align-items-center">
        <div class="d-inline-block text-left">
            <img alt="Statue" id="dynamicStatue" width="100" height="84" class="me-2">
            <span class="align-middle">Boston and New York Bear Brunt</span>
        </div>

        <h1 class="text-center mx-auto">Universal</h1>

        <div class="text-right" style="padding-right:8px">
            <span id="currentDate" style="margin-right: 70px;"></span>
            <div class="weatherInfo d-inline-block align-middle">
                <span id="temperature" class="ms-2"></span>
            </div>
        </div>
    </div>
</header>
 <div id="nav"></div>