<section style="background-color:#262D33; min-height:100vh;padding-top:30px">
    <div class='container'>
        <div class="articles row">
            <a href="#" class="article-item col-3 d-flex align-items-start position-relative text-decoration-none pe-3">
                <span class="text-white" style="max-width:154px">25 Songs That Tell Us Where Music Is Going</span>
                <img id="guitarImage" alt="" class="ms-4" />
            </a>
            <a href="#" class="article-item col-3 d-flex align-items-start position-relative text-decoration-none pe-3">
                <span class="text-white" style="max-width:154px">These Ancient Assassins Eat Their Own Kind</span>
                <img id="butterflyImage" alt="" class="ms-4" /> 
            </a>
            <a href="#" class="article-item col-3 d-flex align-items-start position-relative text-decoration-none pe-3">
                <span class="text-white" style="max-width:154px">How Do You Teach People to Love Difficult Music?</span>
                <img id="blackmanImage" alt="" class="ms-4" />
            </a>
            <a href="#" class="col-3 d-flex align-items-start text-decoration-none">
                <span class="text-white" style="max-width:154px">International Soccer’s Man of Mystery</span>
                <img id="trackImage" alt="" class="ms-4" />
            </a>
        </div>
    </div>
</section>
