<section class="bg-dark" style="min-height: 60vh; padding-top: 30px;">
    <div class="container">
        <div class="articles row" id="herorow"></div>
    </div>

    <div id="recommended" class="container d-flex">

        <!-- Левый блок с изображением -->
        <div class="landscapeImage left-block flex-fill d-flex" style="padding: 55px 55px 100px 55px;">
            <div id='avatarblock' class="text-white d-flex flex-column justify-content-start">
                <div class='d-flex' style="gap: 10px;">
                    <img alt="" id="benjamin" width="45" height='45' class="img-fluid">
                    <div class="d-flex flex-column justify-content-start">
                        <span style="opacity:85%">By Benjamin Turner</span>
                        <span style="opacity:40%">Traveler</span>
                    </div>
                </div>
                <span class="text-primary text-uppercase mt-auto">Destinations</span>
                <p class='fw-bold text-white playdesc'>In Southeast England, White Cliffs and Fish</p>
                <div class="d-flex">
                    <button id='readmore' class="readmorebtn">Read more</button>
                    <div class='d-flex text-left text-white'>
                        <button class="playbtn">
                            <img alt="" id="player" width="50" height='50' class="img-fluid" src="{{playButtonImage}}">
                        </button>
                        <div style="margin-left: 10px;">
                            <span style="opacity:85%">The chalk cliff of Beachy Head</span><br>
                            <span style="opacity:40%" id="currentTime">00:00</span> <!-- Текущее время -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Правый блок с заголовком и подзаголовками -->
        <div class="right-block bg-white flex-fill d-flex flex-column" style="max-width: 263px;">
            <h2 class="fw-bold text-start title-rec">RECOMMENDED FOR YOU</h2>
            <div id='rightside' class="d-flex flex-column flex-fill"></div>
        </div>

    </div>
</section>
