<section style="min-height:100vh">
    <div class="container grid-container">
        <div class="grid-item grid-item-1">
            <div class="d-flex" style="padding-left:30px"> 
                <div class="d-flex flex-column align-items-start" style="gap:25px;max-width:228px;">
                    <h2 class="text-uppercase" style="font-size:12px;color:#6E99AE;">Cars</h2>
                    <p class='fw-bold' style="font-size:25px;color:#262D33;">The joy of replicas: A \$5 million car for \$50,000</p>
                    <article style="font-size:14px;margin-bottom:0;color:#4B5157;line-height:20px;">The 31-year-old self-taught engineer and former amateur racer spends his days building artful recreations of one of most iconic sports cars.</article>
                </div>

                <img id="carImage" alt="Car" class="img-fluid" width="100%"/>
            </div>

            <div class="d-flex align-items-center border-top" style='border-color: #D9DADB; padding:20px 35px;'>
                <img alt="" id="sarah" width="30" height='30' class="img-fluid me-2">
                <span class='fw-bold' style="font-size:14px; color:#262D33;margin-right:5px;">Jessica Miller:</span>
                <span style="font-size:14px; color:#4B5157;overflow: hidden; white-space: nowrap; text-overflow: ellipsis; max-width: 300px;">Even as the ride-hailing service’s future remembered</span>
                <div id="comment" style="margin-left: 15px;">
                    <span style="font-size:12px;color:#939699;">342</span>
                </div>
            </div>
        </div>
       
        <div class="grid-item grid-item-2">Блок 2</div>
        <div class="grid-item grid-item-3">Блок 3</div>
        <div class="grid-item grid-item-4">Блок 4</div>
        <div class="grid-item grid-item-5">Блок 5</div>
        <div class="grid-item grid-item-6">Блок 6</div>
        <div class="grid-item grid-item-7">Блок 7</div>
        <div class="grid-item grid-item-8">Блок 8</div>
    </div>
</section>
