<section style="min-height:100vh;background-color:#EDEFF0">
    <div class="container grid-container">
        <div class="grid-item grid-item-1">
            <div class="d-flex" style="padding-left:30px"> 
                <div class="d-flex flex-column align-items-start" style="gap:25px;max-width:228px;">
                    <h2 class="text-uppercase" style="font-size:12px;color:#6E99AE;">Cars</h2>
                    <p class='fw-bold' style="font-size:25px;color:#262D33;">The joy of replicas: A \$5 million car for \$50,000</p>
                    <article style="font-size:14px;margin-bottom:0;color:#4B5157;line-height:20px;">The 31-year-old self-taught engineer and former amateur racer spends his days building artful recreations of one of most iconic sports cars.</article>
                </div>

                <img id="carImage" alt="Car" class="img-fluid" width="100%"/>
            </div>

            <div class="d-flex align-items-center justify-content-start border-top" style='border-color: #D9DADB; padding:20px'>
                <img alt="" id="sarah" width="30" height='30' class="img-fluid me-2">
                <span class='fw-bold' style="font-size:14px; color:#262D33;margin-right:5px;">Jessica Miller:</span>
                <span style="font-size:14px; color:#4B5157;overflow: hidden; white-space: nowrap; text-overflow: ellipsis; max-width: 300px;">Even as the ride-hailing service’s future remembered</span>
                <div id="comment" style="margin-left: 15px;">
                    <span style="font-size:12px;color:#939699;">342</span>
                </div>
            </div>
        </div>
       
        <div class="grid-item grid-item-2">Блок 2</div>
        <div class="grid-item grid-item-3">Блок 3</div>
        <div class="grid-item grid-item-4">
            <div class="d-flex flex-column gap-4">
            <img id="catImage" alt="Cat" class="img-fluid" width="100%"/>
            <p class="mx-4 text-start fw-bold" style="font-size:16px;color:#262D33">200+ Doomed Cats Saved From Euthanization</p>
            </div>
        </div>
        <div class="grid-item grid-item-5">
            <div class="d-flex flex-column justify-content-center gap-3">
            <h3 style="color:#262D33;font-size:16px;">Is Coffee Bad for Bones?</h3>
            <article style="color:#4B5157;font-size:15px;">Coffee drinkers may excrete more calcium, but it doesn’t appear to weaken bones</article>
            <span style="color:#939699; font-size:12px">Oct 15</span>
            </div>
        </div>
        <div class="grid-item grid-item-6">
             <div class="d-flex flex-column justify-content-center gap-3">
            <h3 style="color:#262D33;font-size:16px;">What We Manufacture</h3>
            <article style="color:#4B5157;font-size:15px;">A global history of the factory and the modern world that all should read</article>
            <span style="color:#939699; font-size:12px">Oct 14</span>
            </div>
        </div>
        <div class="grid-item grid-item-7">
             <div class="d-flex flex-column justify-content-center gap-3">
            <h3 style="color:#262D33;font-size:16px;">It’s a Stressful World</h3>
            <article style="color:#4B5157;font-size:15px;">Can a cruise skeptic enjoy four days on the seas with his family and a bunch of princesses?</article>
            <span style="color:#939699; font-size:12px">Oct 14</span>
            </div>
        </div>
        <div class="grid-item grid-item-8">
             <div class="d-flex flex-column justify-content-center gap-3">
            <h3 style="color:#262D33;font-size:16px;">A Treat for Lemon Lovers</h3>
            <article style="color:#4B5157;font-size:15px;">This tangerine, ginger and chocolate tart has verve, depth and a hint of spice</article>
            <span style="color:#939699; font-size:12px">Oct 13</span>
            </div>
        </div>
    </div>
</section>
