<section style="min-height: 100vh; background-color: #EDEFF0">
  <div class="container grid-container">
    <div class="grid-item grid-item-1">
      <div class="d-flex" style="padding-left: 30px">
        <div
          class="d-flex flex-column align-items-start"
          style="gap: 25px; max-width: 228px;"
        >
          <h2
            class="text-uppercase"
            style="font-size: 12px; color: #6E99AE;"
          >Cars</h2>
          <p class="fw-bold" style="font-size: 25px; color: #262D33;">
            The joy of replicas: A \$5 million car for \$50,000
          </p>
          <article
            style="font-size: 14px; margin-bottom: 0; color: #4B5157; line-height: 20px;"
          >
            The 31-year-old self-taught engineer and former amateur racer spends
            his days building artful recreations of one of most iconic sports
            cars.
          </article>
        </div>
        <img id="carImage" alt="Car" class="img-fluid" width="100%" />
      </div>
      <div
        class="d-flex align-items-center justify-content-start border-top"
        style="border-color: #D9DADB; padding: 20px"
      >
        <img alt="" id="sarah" width="30" height="30" class="img-fluid me-2" />
        <span
          class="fw-bold"
          style="font-size: 14px; color: #262D33; margin-right: 5px;"
        >
          Jessica Miller:
        </span>
        <span
          style="font-size: 14px; color: #4B5157; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; max-width: 300px;"
        >
          Even as the ride-hailing service’s future remembered
        </span>
        <div id="comment" style="margin-left: 15px;">
          <span style="font-size: 12px; color: #939699;">342</span>
        </div>
      </div>
    </div>

    <div class="grid-item grid-item-2">
      <div
        class="d-flex flex-column justify-content-between"
        style="height: 100%;"
      >
        <span
          class="bg-success text-white py-1 px-3 rounded align-self-start"
          style="background-color: #3DC47E;"
        >
          Popular
        </span>
        <div>
          <span
            class="d-block fw-bold mb-3"
            style="font-size: 12px; color: #E7D9FF;"
          >
            ART & DESIGN
          </span>
          <p
            class="fw-bold text-white mb-3"
            style="text-transform: uppercase; font-size: 16px;"
          >
            Invisible ink: the
            <br />
            weird world of
            <br />
            tattoo removal –<br />
            in pictures
          </p>
          <div class="d-flex gap-2">
            <img
              alt=""
              id="sarah2"
              width="45"
              height="45"
              class="img-fluid me-2"
            />
            <div class="d-flex flex-column justify-content-start">
              <span class="text-white" style="opacity: 85%; font-size: 14px;">By
                Sarah Jenkins</span>
              <div class="d-flex gap-2">
                <span class="text-white" style="opacity: 40%;">Sept 26</span>
                <span
                  class="text-white"
                  style="opacity: 40%;"
                  id="comment2"
                >16</span>
                <span
                  class="text-white"
                  style="opacity: 40%;"
                  id="heart"
                >832</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      class="grid-item grid-item-3"
      style="width: 100%; box-sizing: border-box; display: flex; flex-direction: column; height: 100%;"
    >
      <span
        style="display:block;padding:20px 25px;font-size:14px; color:#fff;border-bottom:1px solid #B4D1E0;"
      >
        COLUMNS
      </span>
      <div class="d-flex flex-column" style="margin: 0 35px; flex: 1;">
        <div style="border-bottom:1px solid #B4D1E0;padding: 50px 0;">
          <p
            class="fw-bold"
            style="font-size:20px;color:white;margin-bottom:20px;max-width:200px"
          >
            Architecture is the thoughtful making of space
          </p>
          <div class="d-flex" style="gap: 10px;">
            <img alt="" id="david" width="45" height="45" class="img-fluid" />
            <div class="d-flex flex-column justify-content-start">
              <span style="color:#D1E2EB;font-size:14px;">David Williams</span>
              <span style="color:#D1E2EB;font-size:12px;">Architect</span>
            </div>
          </div>
        </div>

        <div style="border-bottom:1px solid #B4D1E0;padding: 50px 0;">
          <p
            class="fw-bold"
            style="font-size:20px;color:white;margin-bottom:20px;max-width:200px"
          >
            The details are not the details. They make the design.
          </p>
          <div class="d-flex" style="gap: 10px;">
            <img
              alt=""
              id="alexandra"
              width="45"
              height="45"
              class="img-fluid"
            />
            <div class="d-flex flex-column justify-content-start">
              <span style="color:#D1E2EB;font-size:14px;">Alexandra Green</span>
              <span style="color:#D1E2EB;font-size:12px;">Interior designer</span>
            </div>
          </div>
        </div>

        <div style="padding: 50px 0;">
          <p
            class="fw-bold"
            style="font-size:20px;color:white;margin-bottom:20px;max-width:200px"
          >
            Live life to the fullest, and focus on the positive
          </p>
          <div class="d-flex" style="gap: 10px;">
            <img alt="" id="olivia" width="45" height="45" class="img-fluid" />
            <div class="d-flex flex-column justify-content-start">
              <span style="color:#D1E2EB;font-size:14px;">Olivia Thompson</span>
              <span style="color:#D1E2EB;font-size:12px;">Coacher</span>
            </div>
          </div>
        </div>
      </div>
      <a
        class="text-decoration-none"
        href="#"
        style="display:block;padding:12px 0;color:#FFFFFF; border-top:1px solid #B4D1E0; text-align: center;"
      >
        Read more
      </a>
    </div>

    <div class="grid-item grid-item-4">
      <div class="d-flex flex-column gap-4">
        <img id="catImage" alt="Cat" class="img-fluid" width="100%" />
        <p
          class="mx-4 text-start fw-bold"
          style="font-size: 16px; color: #262D33;"
        >
          200+ Doomed Cats Saved From Euthanization
        </p>
      </div>
    </div>

    <div class="grid-item grid-item-5">
      <div class="d-flex flex-column justify-content-center gap-3">
        <h3 style="color: #262D33; font-size: 16px;">Is Coffee Bad for Bones?</h3>
        <article style="color: #4B5157; font-size: 15px;">
          Coffee drinkers may excrete more calcium, but it doesn’t appear to
          weaken bones.
        </article>
        <span style="color: #939699; font-size: 12px;">Oct 15</span>
      </div>
    </div>

    <div class="grid-item grid-item-6">
      <div class="d-flex flex-column justify-content-center gap-3">
        <h3 style="color: #262D33; font-size: 16px;">What We Manufacture</h3>
        <article style="color: #4B5157; font-size: 15px;">
          A global history of the factory and the modern world that all should
          read.
        </article>
        <span style="color: #939699; font-size: 12px;">Oct 14</span>
      </div>
    </div>

    <div class="grid-item grid-item-7">
      <div class="d-flex flex-column justify-content-center gap-3">
        <h3 style="color: #262D33; font-size: 16px;">It’s a Stressful World</h3>
        <article style="color: #4B5157; font-size: 15px;">
          Can a cruise skeptic enjoy four days on the seas with his family and a
          bunch of princesses?
        </article>
        <span style="color: #939699; font-size: 12px;">Oct 14</span>
      </div>
    </div>

    <div class="grid-item grid-item-8">
      <div class="d-flex flex-column justify-content-center gap-3">
        <h3 style="color: #262D33; font-size: 16px;">A Treat for Lemon Lovers</h3>
        <article style="color: #4B5157; font-size: 15px;">
          This tangerine, ginger and chocolate tart has verve, depth and a hint
          of spice.
        </article>
        <span style="color: #939699; font-size: 12px;">Oct 13</span>
      </div>
    </div>
  </div>
</section>