
    <div class="navblock bg-dark text-white py-3">
    <nav class="container">
        <ul class="d-flex justify-content-between list-unstyled mb-0">
            {{#each this}}
            <li><a href="{{url}}" class="text-white text-uppercase text-decoration-none">{{name}}</a></li>
            {{/each}}
        </ul>
    </nav>
</div>